.idea
source/isaaclab_tasks/isaaclab_tasks/direct/aloha/tesh
source/isaaclab_assets/data/aloha_assets/scenes/scenes_sber_kitchen_for_BBQ/.thumbs
source/isaaclab_assets/data/aloha_assets
source/isaaclab/isaaclab/envs/__pycache__
models/__pycache__
data
logs
runs
outputs
.aws
.dockerignore
.flake8
.gitattributes
.github/
.pre-commit-config.yaml
.pretrained_checkpoints/
# Python cache
source/isaaclab_tasks/isaaclab_tasks/direct/aloha/__pycache__/
source/isaaclab_tasks/isaaclab_tasks/direct/aloha/__pycache__/
orientation_supervised_checkpoints/
__pycache__/
*.__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.pt
*.pth
*.ckpt
source/isaaclab_assets/data/aloha_assets/SimReady_Furniture